* {
    margin: 0;
}

body{
   display: flex;
   flex-direction: column;
   height: 100vh; 

}

.header{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: right;
    
}

.header a{
    margin-right: 15px;
    margin-left: 15px;
    color:black;
    font-size: 15px;
    text-decoration: inherit;
}

body .languages a {
    text-decoration: none;
    margin-right: 5px;
    font-size: small;
  }

  footer .foot-list a {
    text-decoration: none;
    color: #70757a;
  }

.header a:hover{
    text-decoration: underline;

}

.mainbody{
    object-fit: contain;
    height: 100px;
    align-items: center;
    margin-top: 100px;
    margin-left: 40px;
    flex: auto;
    display: flex;
    flex-direction: column;
} 

.search{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

body .search-bar input {
    flex: 1;
    border: none;
    height: 40px;
    outline: none;
}

body .search-bar{
  padding-top: 20px;
}
  
.search-input span#camera{
  padding: 10px;
}

.search-input span{
  padding-left: 10px;
  color: gray;
  cursor: pointer;
}

.search-input{
    display: flex;
    border: 1px solid gray;
    height: 50px;
    width: 600px;
    align-items: center;
    border-radius: 40px;
  }

   body .search-input:hover {
    box-shadow: 0 0 20px black;
  }
 
  body .search-text {
    margin: 40px;
    margin-left: 165px;
    align-content: center;
  }

  body .search-text button{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  body .search-text button:hover{
    box-shadow: 0 0 10px black;
  }

  footer .foot-list a:hover {
    text-decoration: underline;
  }
  
  body .languages a:hover {
    text-decoration: underline;
  }

footer {
    margin-top: 198px;
    background: #cfcccc;
  }

  footer p {
    padding: 20px;
    border-bottom: 1px solid lightgray;
    color: #70757a;
  }

  footer .foot-list {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  footer .foot-list .left a,
  footer .foot-list .right a {
    margin-right: 8px;
  }